MYSQL_ROOT_PASSWORD=changeme
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=changeme
WORDPRESS_DOMAIN=wordpress.local
PHPMYADMIN_DOMAIN=phpmyadmin.local
PHPMYADMIN_BASIC_AUTH_HASH=changeme